<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 商户入驻申请 </nav>
<div class="page-container">


	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
			<tr class="text-c">
				<th width="80">ID</th>
				<th width="100">订单编号</th>
				<th width="30">用户名</th>
				<th width="150">付款时间</th>
				<th width="60">数量</th>
				<th width="60">总价</th>
				<th width="60">支付状态</th>
				<th width="60">订单状态</th>
			</tr>
			</thead>
			<tbody>
			{volist name='orders' id='vo'}
			<tr class="text-c">
				<td>{$vo.id}</td>
				<td>{$vo.out_trade_no}</td>
				<td class="text-c">{$vo.username}</td>
				<td class="text-c">{$vo.pay_time}</td>
				<td>{$vo.deal_count}</td>
				<td>{$vo.total_price}</td>
				<td class="td-status">{$vo.pay_status|payStatus}</td>
				<td class="td-status">{$vo.status|status}</td>
			</tr>
			{/volist}
			</tbody>
		</table>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20 page-show">

	</div>
</div>

<!--包含头部文件-->
{include file="public/footer" /}
